body {
    background-image: url('./immagini/background.jpg');
    background-size: cover;
}
#quadrato{
    margin: auto;
    margin-top: 80px;
    width: 1200px;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 35px;
    padding: 70px;
}
img {
    width: 250px;
}
header{
    text-align: center;
}
.Titolo{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: rgb(46, 233, 46);
}
.blocco {
    margin: auto;
    width: 100%;
    background-color: rgb(46, 233, 46);
    padding: 10px;
}
*{
    box-sizing: border-box;
}
.blocco2{
    margin-top: 20px;
}
.nomi{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
}
div > p {
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px;
}
#statocarica{
    background-color: rgb(236, 173, 56);
    height: 25px;
    width: 300px;
    border-radius: 5px;
}
#statocarica2{
    background-color: rgb(5, 179, 5);
    height: 25px;
    width: 450px;
    border-radius: 5px;
}
#statocarica3{
    background-color: rgb(172, 18, 18);
    height: 25px;
    width: 150px;
    border-radius: 5px;
}
